# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=b3O9qI5dcHE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=10

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'
a=[]

In [3]:
# print the value of a
print(a)

[]

In [4]:
# print the type of a

print(type(a))

<class 'list'>

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [15]:
#code here
languages=['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [16]:
#code here
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [17]:
#code here
for elements in languages:
  print(elements)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [18]:
#code here
temp=languages[1]

Print the value of temp and type(temp)

In [19]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [20]:
# code here
print([ elem for i,elem in enumerate(languages,start=1) if i>(len(languages)-2) ])

['Scala', 42]

Append the element 'Java' in the list

In [21]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [23]:
#code here
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [35]:
#code here
colors = ["Red", "Blue", "White"]

Append the element 'Black' to colors

In [36]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [37]:
# code here
colors.insert(1,'Orange')

Print the list

In [38]:
# code here
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [39]:
# code here
colors2 = ["Grey", "Sky Blue"]

Add the elements of colors2 to colors using extend function in the list

In [40]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [41]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [42]:
# code here
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [43]:
# code here
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [44]:
# code here
words=sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [46]:
# code here
words_lower=[wd.lower() for wd in words ]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [47]:
# code here
print("country" in words_lower)

False

Remove the element ‘the’ from the list and print the list.

In [48]:
# code here
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [49]:
#code here
x4=words_lower[:4]

In [50]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [52]:
#code here
print(' '.join(x4))

coronavirus caused lockdowns around

## 2. Sets

Reference:-https://www.youtube.com/watch?v=B7dPo44o5jA&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=12

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [53]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [54]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [55]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [57]:
#code here
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [58]:
#code here
print(type(stud_grades), stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'C', 'F', 'B', 'A'}

Add a new element ‘G’ to stud_grades_set

In [60]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [61]:
#code here
stud_grades_set.add('F')
print(stud_grades_set )

{'C', 'F', 'G', 'B', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [62]:
#code here

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [63]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'G', 'B', 'A'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [65]:
#code here
colors = ["red","blue","orange"]
fruits = ["orange","grapes","apples"]

Print color and fruits

In [66]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [68]:
#code here
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'blue', 'red', 'orange'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [69]:
#code here
print(colors_set.union(fruits_set))

{'blue', 'apples', 'red', 'grapes', 'orange'}

Find the intersection of both the sets

In [70]:
#code here
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [72]:
#code here
print(fruits_set.difference(colors_set))

{'grapes', 'apples'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=aMGPLCzTvmE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=11

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [78]:
#code here
temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [79]:
#code here
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [75]:
#code here
temp[1]=11

Set temp1 = tuple(temp)

In [80]:
#code here
temp1= tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [81]:
#code here
for i in temp1:
  print(i)

17
Virat
50.0

replace first element with 17 in temp1

In [82]:
#code here

temp1[0]=17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [83]:
#code here
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [85]:
#code here

print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [86]:
#code here
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [87]:
#code here
cities=(city,city2)

Print cities

In [88]:
#code here
print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [89]:
#code here

print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [90]:
#code here
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=U3e-L1WSSzQ&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=13

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [91]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [92]:
#code here
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [93]:
#code here
actor=d['actor']

Print the type of actor

In [94]:
#code here

print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [95]:
#code here
l=d['list']

Print the type of l.

In [97]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [99]:
#code here
d1 = { "singer" : "Kr$na" , "album": "Still here", "genre" : "hip-hop"}

Merge d1 into d.

In [100]:
#code here
d.update(d1)

print d

In [102]:
#code here

d

{'actor': 'amir',
 'album': 'Still here',
 'animal': 'cat',
 'earth': 2,
 'genre': 'hip-hop',
 'list': [23, 32, 12],
 'singer': 'Kr$na'}

Print all the keys in d

In [103]:
#code here
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [104]:
#code here

print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [106]:
#code here
for keys,values in d.items():
  print(keys,' ----> ',values)

actor  ---->  amir
animal  ---->  cat
earth  ---->  2
list  ---->  [23, 32, 12]
singer  ---->  Kr$na
album  ---->  Still here
genre  ---->  hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [110]:
#code here

sent = "Coronavirus Caused Lockdowns Around The World."
d={}
for i in sent:
  if(i in d):
    d[i]+=1
  else:
    d[i]=1
d

{' ': 5,
 '.': 1,
 'A': 1,
 'C': 2,
 'L': 1,
 'T': 1,
 'W': 1,
 'a': 2,
 'c': 1,
 'd': 4,
 'e': 2,
 'h': 1,
 'i': 1,
 'k': 1,
 'l': 1,
 'n': 3,
 'o': 6,
 'r': 4,
 's': 3,
 'u': 3,
 'v': 1,
 'w': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N